# analysis options
system = "system"
initially = "x== 0 & y==10 & v==3 & t==0 & angle== 1 & u1 == [-0.523,0.523] & u2 == [-0.3,0.3] & fuel == 0"
forbidden="(x >= -5 && x <= 5 && y <= 5) || (x >= -5 && x <= 5 && y >= 15) || ((x-10)*(x-10) + (y-10)*(y-10) <= 16) || (x >= 15 && x <= 25 && y <= 5) || (x >= 15 && x <= 25 && y >= 15)"
time-horizon = "10"
target_x = "20"
target_y = "10"
obj_function = "abs(x-target_x) + abs(y-target_y) + 0.01 * fuel"
