# analysis options
system = "vehicle"
initially = "x==0 & y==10 & v==0 & t==0 & angle==0.2 & u1 == [-0.523,0.523] & u2 == [-0.3,0.3] & fuel == 0"
forbidden="(x >= 0 && x <= 19 && y >= 14) || (x >= 0 && x <= 19 && y <= 6) || (x > 8 && x < 13 && y > 9 && y < 11)"
time-horizon = "10"
target_x = "20"
target_y = "10"
obj_function = "abs(x-target_x) + abs(y-target_y) + 0.01 * fuel"
