# analysis options
system = "system"
initially = "x== 0 & y==10 & v==3 & t==0 & angle== 1 & u1 == [-0.523,0.523] & u2 == [-0.3,0.3] & fuel == 0"
#forbidden="(x >= -10 && x <= 10 && y >= 5 + sqrt(100 - pow(x,2))) || (x >= -10 && x <= 10 && y <= -5 - sqrt(100 - pow(x,2))) || (x*x + y*y <= 36)"
forbidden="(x >= -5 && x <= 5 && y <= 5) || (x >= -5 && x <= 5 && y >= 15) || ((x-10)*(x-10) + (y-10)*(y-10) <= 16) || (x >= 15 && x <= 25 && y <= 5) || (x >= 15 && x <= 25 && y >= 15)"
time-horizon = "10"
target_x = "20"
target_y = "10"
scenario = "phaver"
directions = "uni32"
sampling-time = 0.1
output-variables = "x,v,t"
output-format = "INTV"
rel-err = 1.0e-12
abs-err = 1.0e-13
