$mdc-theme-primary: #6200EE;
$mdc-theme-primary-variant: #3700B3;
$mdc-theme-secondary: #03DAC6;
$mdc-theme-secondary-variant: #018786;
$mdc-theme-background: #E8F5E9;
$mdc-theme-surface: #FFFFFF;
$mdc-theme-error: #C51162;
$mdc-theme-on-primary: #FFFFFF;
$mdc-theme-on-secondary: #000000;
$mdc-theme-on-surface: #000000;
$mdc-theme-on-background: #E65100;
$mdc-theme-on-error: #FFFFFF;